export MICRO_ENABLE_STATS="true"
export MICRO_API_ADDRESS=0.0.0.0:8000
export MICRO_API_NAMESPACE=com.vada.api
export MICRO_BROKER=rabbitmq
export MICRO_CLIENT_REQUEST_TIMEOUT=30s
export MICRO_CLIENT_RETRIES=5
export MICRO_CLIENT_POOL_SIZE=30
export MICRO_CLIENT_POOL_TTL=3m
export MICRO_SELECTOR=cache
export MICRO_BROKER_ADDRESS=amqp://sdp:127.0.0.1:5672
export MICRO_API_HANDLER=proxy
export MICRO_REGISTRY_ADDRESS=127.0.0.1:8500
export MICRO_REGISTRY_INTERVAL=5
export MICRO_REGISTRY_TTL=10
